parameters:
	level: 6
	paths:
		- src
		- tests
	excludes_analyse:
	    - 'src/Console/Command/DayFiveCommand.php'
	    - 'src/Console/Command/DaySixCommand.php'
	    - 'src/Console/Command/DaySevenCommand.php'
	    - 'src/Console/Command/DayEightCommand.php'
	    - 'src/Console/Command/DayTwelveCommand.php'
	    - 'tests/DayFiveCommandTest.php'
	    - 'tests/DaySixCommandTest.php'
	    - 'tests/DaySevenCommandTest.php'
	    - 'tests/DayEightCommandTest.php'
	    - 'tests/DayTwelveCommandTest.php'
	    - 'src/Console/Models/IntCodeComputer.php'
